@mixin full-width-height {
	width: 100%;
	height: 100vh;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-row {
	display: flex;
	flex-direction: row;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
}

@mixin flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

@mixin flex-end {
	display: flex;
    justify-content: flex-end;
}

@mixin flex-start {
	display: flex;
    justify-content: flex-start;
}

@mixin flex-space-between {
	display: flex;
    justify-content: space-between;
}

@mixin flex-space-around {
	display: flex;
    justify-content: space-around;
}

@mixin transition-vendors($property) {
	-webkit-transition: $property;
    -moz-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin right-content {
	display: flex;
    background-color: #fff;
    border-radius: 0px 4px 4px 0px;
	width: 42%;
}

@mixin left-side {
	display: flex;
	justify-content: center;
    flex-direction: column;
    height: auto;
	width: 18%;
}

@mixin shut-down-aside {
	display: flex;
	justify-content: center;
    flex-direction: column;
	border-right: 1px solid #8080804f;
	border-bottom: 1px solid #8080804f;
    align-items: center;
    height: 50%;
}

@mixin spinner-aside {
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #acd1ef14;
    height: 50%;
	border-right: 1px solid #8080804f;
}

@mixin registration-form {
	display: flex;
	flex-direction: column;
	width: 82%;
}

@mixin register-header-title {
	display: flex;
	align-items: center;
	padding-left: 10px;
	height: 60px;
	font-size: $base-font-size - 1;
	border-bottom: 1px solid #8080804f;
	font-weight: 600;
}

@mixin inputs {
	margin: 12px 0px;
	padding-left: 10px;
	height: 42px;
	border: 1px solid #8080804f;
}

@mixin checkbox-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 12px;
	margin-left: 0;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin checkbox-container-input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

@mixin checkbox-container-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 14px;
	background-color: #fff;
	border: 1px solid gray;
	border-radius: 2px;
	margin-top: 2px;
}

@mixin checkbox-container-checkmark-after {
	content: "";
	position: absolute;
	display: none;
}

@mixin container-checkmark-after {
	left: 3px;
	top: 0px;
	width: 6px;
	height: 10px;
	border: 1px solid #ff5e3a;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

@mixin check-terms-register {
	display: flex;
	flex-wrap: wrap;
    margin-top: 18px;
    margin-bottom: 12px;
}

@mixin social-networks-login {
	height: 42px;
	color: #fff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
}

@mixin form-input {
	width: 230px;
    line-height: 1.5;
    background-color: #494c62;
    height: 100%;
    border: none;
    opacity: 0.4;
    padding-left: 15px;
    color: #9a9fbf;
    font-size: 12px;
    opacity: 1;
}

@mixin header-badges {
	top: -13px;
    left: 13px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
}

@mixin colored-smile {
	height: 40px;
    width: 40px;
    border-radius: 4px;
}

@mixin after-arrow {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 200px;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}

@mixin visible-opacity {
	visibility: visible;
    opacity: 1;
}

@mixin dropdown-footer {
	padding: 20px;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}

@mixin center-block {
	position: relative;
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    background: #fff;
    padding: 25px;
    height: fit-content;
}

@mixin left-block {
	border-radius: 5px;
	border: 1px solid #e6ecf5;
	background: #fff;
	margin-bottom: 15px;
	height: fit-content;
}

@mixin center-block-side-icons {
	position: absolute;
    display: flex;
    flex-direction: column;
    right: -17px;
    top: 20px;
}

@mixin side-icons {
	background-color: #9a9fbf;
    width: 34px;
    height: 34px;
    border-radius: 50%;
	display: flex;
	justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

@mixin ul-li {
	margin: 0;
    padding: 0;
    list-style-type: none;
}

@mixin left-block-badges {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	color: #fff;
	font-size: 10px;
	font-weight: 700;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;
	top: 0px;
	right: -4px;
}

@mixin header-block-title {
	padding: 23px 25px 18px;
    border-bottom: 1px solid #e6ecf5;
}

@mixin orange-and-pointer {
	color: #ff5e3a;
	cursor: pointer;
}

@mixin right-block {
	border-radius: 5px;
    border: 1px solid #e6ecf5;
    background: #fff;
    height: fit-content;
}	

@mixin header-block-title {
	padding: 23px 25px 18px;
    border-bottom: 1px solid #e6ecf5;
}

@mixin right-header-block-title {
	color: #515365;
    font-weight: 700;
    font-size: 14px;
}

@mixin user-select-vendors {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin left-sidebar-inactive {
	left: -70px;
    transition-delay: 0s;
}

@mixin left-sidebar-wider-inactive {
	left: -250px;
    transition-delay: 0s;
}

@mixin online-status-dot {
	position: absolute;
    width: 8px;
    height: 8px;
    background-color: #32e4cd;
    top: 0px;
    right: 27px;
    border-radius: 50%;
}

@mixin left-sidebar-menu-icons {
	position: relative;
    padding-top: 32px;
    font-size: 22px;
    color: #9a9fbf;
	-webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -ms-transition: color .3s linear;
    transition: color .3s linear; 
}

@mixin left-sidebar-menu-title {
	padding-left: 20px;
    padding-top: 32px;
    font-weight: 700;
    font-size: 13px;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

@mixin right-sidebar-toggle {
	display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}

@mixin user-status {
	position: absolute;
    width: 8px;
    height: 8px;
    background-color: #32e4cd;
    left: 19px;
    border-radius: 50%;
}
